<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}">
    <title>User Info</title>
</head>
<body>
<div class="center">
    <h2>User info</h2>
    <form th:action="@{/saveUser}" th:method="POST" th:object="${newUser}">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" th:field="*{name}" th:value="${newUser.name}"/>
                </label></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><label>
                    <input type="text" th:field="*{surname}" th:value="${newUser.surname}"/>
                </label></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><label>
                    <input type="text" th:field="*{email}" th:value="${newUser.email}"/>
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>